* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:focus,
:focus-within,
:focus-visible,
:active,
:target,
:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

:root {
    --accent: #96d9a1;
    --background: #282b3c;
    --default: #ccc;
    --item: #34384f;
}


body {
    background: var(--background);
    color: var(--default);
    font-family: Sans-serif;
    font-size: 13px;
}

a,
a:visited,
a:active {
    color: var(--accent);
    text-decoration: none;
    opacity: .9;
}

h1, h2, h3, h4, h5 {
    display: inline-block;
    font-weight: normal;
}

h1 {
    font-size: 16px;
}

h2 {
    color: var(--default);
    font-size: 14px;
}

body > * {
    position: relative;
    overflow: hidden;
    max-width: 748px;
}

header {
    margin: 16px auto;
    text-align: center;
}

header > a,
header > a:active,
header > a:hover,
header > a:visited {
    color: var(--default);
    font-size: 20px;
}

header::first-letter {
    color: var(--accent);
}

header > div {
    margin-top: 16px;
}

header > div > code:not(:last-child)::after {
    content: "|";
    margin: 0 6px;
}

main {
    margin: 0 auto;
}

/* pagination */
main > a {
    background: var(--item);
    border-radius: 3px;
    float: right;
    margin-left: 8px;
    opacity: .96;
    padding: 8px;
}

/* item row */
main > div {
    background-color: var(--item);
    border-radius: 3px;
    margin: 8px 0;
    padding: 24px;
}

/* item row description */
main > div > p {
    margin: 8px 0;
}

/* item row meta, controls */
main > div > div {
    border-top: 1px #4f536a solid;
    margin-top: 16px;
    overflow: hidden;
    padding-top: 16px;
}

main > div > div > ul {
    list-style: none;
}

main > div > div > ul > li {
    cursor: default;
    float: left;
}

main > div > div > ul > li > span {
    color: white;
    display: inline-block;
    font-size: smaller;
    opacity: 0.7;
}

main > div > div > ul > li > span:hover {
    opacity: 1;
}

main > div > div > ul > li:not(:last-child)::after {
    content: "•";
    margin: 0 6px;
}

main > div > div > ul > li > span.leechers {
    background-image: url('leechers.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}

main > div > div > ul > li > span.peers {
    background-image: url('peers.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}

main > div > div > ul > li > span.seeders {
    background-image: url('seeders.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}

/* control actions */
main > div > div > div {
    float: right;
}

main > div > div > div > a {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

main > div > div > div > a.magnet {
    background-image: url('magnet.svg');
}

/* pagination info */
main > span {
    float: right;
    padding: 8px;
}

footer {
    margin: 16px auto 36px;
    text-align: center;
}