<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ meta.title }}</title>
        {% if meta.description %}
            <meta name="description" content="{{ meta.description }}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/theme/default.css?v={{ meta.version }}" />
    </head>
    <body>
        <header>
            <a href="/">{{ meta.title }}</a>
            {% if meta.trackers %}
                <div>{% for tracker in meta.trackers %}<code>{{ tracker }}</code>{% endfor %}</div>
            {% endif %}
        </header>
        <main>
        {% block content %}{% endblock content %}
        </main>
        <footer>
            <a href="/rss">RSS</a> |
            <a href="https://github.com/yggverse/btracker" title="v{{ meta.version }}">GitHub</a>
        </footer>
    </body>
</html>