<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        {% if meta.description %}
            <meta name="description" content="{{ meta.description }}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/theme/default.css?v={{ meta.version }}" />
    </head>
    <body>
        <header>
            <a href="/">{{ meta.title }}</a>
            {% if meta.trackers %}
                <div>{% for tracker in meta.trackers %}<code>{{ tracker }}</code>{% endfor %}</div>
            {% endif %}
            <form action="/" method="GET">
                <input type="text" name="search" value="{% if search %}{{ search }}{% endif %}" placeholder="Keyword, file, hash..." />
                <input type="submit" value="Search" />
            </form>
        </header>
        <main>
        {% block content %}{% endblock content %}
        </main>
        <footer>
            <a href="/rss">RSS</a> |
            <a href="https://github.com/yggverse/btracker" title="v{{ meta.version }}">GitHub</a>
            <div><span>Donate (XMR)</span></div>
            <code>87CzQdAh7Ly5Rj9c1c9Fby3g2uMBCbXHh9GjKkxRhTGnbArpZsXB6XhXgYAZ4TBC4p5J6tigzsNXkNhkwZSnbJjWJcZBCgi</code>
        </footer>
    </body>
</html>