<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ meta.title }}</title>
        {% if meta.description %}
            <meta name="description" content="{{ meta.description }}" />
        {% endif %}
        <style>
            * {
                border: 0;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                outline: none;
            }
            :focus,
            :focus-within,
            :focus-visible,
            :active,
            :target,
            :hover {
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }

            body {
                background: #282b3c;
                color: #ccc;
                font-family: Sans-serif;
                font-size: 13px;
            }

            a,
            a:visited,
            a:active {
                color: #96d9a1;
                text-decoration: none;
                opacity: .9;
            }

            h1, h2, h3, h4, h5 {
                display: inline-block;
                font-weight: normal;
            }

            h1 {
                font-size: 16px;
            }

            h2 {
                color: #ccc;
                font-size: 14px;
            }

            body > * {
                position: relative;
                overflow: hidden;
                max-width: 748px;
            }

            header, footer {
                text-align: center;
                margin: 16px auto;
            }

            header > a,
            header > a:active,
            header > a:hover,
            header > a:visited {
                color: #ccc;
                font-size: 20px;
            }

            header::first-letter {
                color: #96d9a1;
            }

            header > div {
                margin-top: 16px;
            }

            header > div > code:not(:last-child)::after {
                content: "|";
                margin: 0 6px;
            }

            main {
                margin: 0 auto;
            }

            /* pagination */
            main > a {
                background: #34384f;
                border-radius: 3px;
                float: right;
                margin-left: 8px;
                opacity: .96;
                padding: 8px;
            }

            /* item row */
            main > div {
                background-color: #34384f;
                border-radius: 3px;
                margin: 8px 0;
                padding: 24px;
            }

            /* item row description */
            main > div > p {
                margin: 8px 0;
            }

            /* item row meta, controls */
            main > div > div {
                border-top: 1px #4f536a solid;
                margin-top: 16px;
                overflow: hidden;
                padding-top: 16px;
            }

            main > div > div > ul {
                list-style: none;
            }

            main > div > div > ul > li {
                cursor: default;
                float: left;
            }

            main > div > div > ul > li > span {
                color: white;
                font-size: smaller;
                opacity: 0.7;
            }

            main > div > div > ul > li > span:hover {
                opacity: 1;
            }

            main > div > div > ul > li:not(:last-child)::after {
                content: "•";
                margin: 0 6px;
            }

            main > div > div > a > svg {
                float: right;
                vertical-align: middle;
            }

            /* pagination info */
            main > span {
                display: inline-block;
                float: right;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <header>
            <a href="/">{{ meta.title }}</a>
            {% if meta.trackers %}
                <div>{% for tracker in meta.trackers %}<code>{{ tracker }}</code>{% endfor %}</div>
            {% endif %}
        </header>
        <main>
        {% block content %}{% endblock content %}
        </main>
        <footer>
            <a href="/rss">RSS</a> |
            <a href="https://github.com/YGGverse/YGGtracker">GitHub</a>
        </footer>
    </body>
</html>